/* general styles */
body {
    background-color: #121212;
    color: #c0c0c0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/* navigation bar */
nav {
    width: 150px;
    background: #222;
    padding: 10px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 8px;
}

nav ul li a {
    color: #c0c0c0;
    text-decoration: none;
    font-size: 14px;
}

/* main content */
main {
    margin-left: 160px;
    padding: 20px;
    flex-grow: 1;
}

/* style for separating posts */
article {
    padding: 20px 0;
    border-bottom: 1px solid #444; /* dark separator between posts */
}

hr {
    border: 0;
    height: 1px;
    background: #444;
    margin: 20px 0;
}

/* center images */
.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* responsiveness */
@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }
    nav {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        padding: 5px;
    }
    nav ul {
        display: flex;
        justify-content: center;
    }
    nav ul li {
        margin: 5px;
    }
    main {
        margin-left: 0;
        padding: 10px;
    }
}
